.container{
    height: 600px;
    width: 600px;
    background: #4a2828;
}
form{
    padding: 20px;
    display: block;
    margin: 20px auto;
    width: 50%;
}
input, button{
    width: 80%;
    padding: 2rem 2rem;
    margin: 0.2rem;
}
button{
    align-self: center;
    text-align: center;
    color: aliceblue;
    background-color: blue;
    width: 10rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
}
#resultado{
    margin-top: 2rem;
    font-size: larger;
    padding: 2rem;
}