*{
    box-sizing: border-box;
    outline: 0;
}
body{
    margin: 0;
    padding: 0;
    background: #0da963dd;
    font-size: 1.3rem;
    line-height: 1.5rem;
}
.conteiner{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 5px;
}
form input{
    font-size: 24px;
    /* height: 50px; */
    /* padding: 0 20px; */
}
form input:focus{
    outline: 1px solid #0da963dd;
}
form button{
    border: none;
    background: #0da963dd;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}
form button:hover{
    background: #0da9637b;
}
.error-text{
    font-size: 20px;
    color: red;
}